.box {
    display: inline-block;
    background: yellow;
}

.item {
    background: lightblue;
    border: solid 1px black;
}

.check {
    background-color: aqua;
    width: 15px;
    height: 15px;
}

.uncheck {
    width: 15px;
    height: 15px;
    background-color: red;
}